.detail {
  background-color: #131313;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100vh;
}

.detail img {
  width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.detail h2 {
  color: #e4e4e4;
}

.detail ul {
  list-style: none;
  padding: 0;
}

.detail li {
  margin: 5px 0;
}

.back-button {
  background-color: #e4e4e4;
  color: black;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.back-button:hover {
  background-color: #00cc7a;
}
